.details {
  background-color: #f2f4f4;
  border-radius: 2px;
  margin-top: 10px;
  padding: 10px;
}
.details div img {
  height: 70px;
  width: 50px;
}
.details:hover {
  background-color: #e5e8e8;
  cursor: pointer;
}
.code {
  display: flex;
}
.size {
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cancle {
  background-color: #fff;
  border: none;
  margin-top: 20px;
  padding: 7px 20px;
  width: 100%;
  text-align: center;
  border: 2px solid gainsboro;
}
.cancle:hover {
  cursor: pointer;
}
.great {
  font-size: 28px;
  color: rgb(175, 171, 171);
}
