.search {
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}
.allfrom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.filter {
  display: flex;
}
.content {
  margin-left: 0;
  background-color: #fff;
  border: none;
  height: 35px;
  /* padding-left: 25px; */
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  padding: 0 10px;
  border: 1px solid gainsboro;
}
.order {
  background-color: #f2f4f4;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.person {
  background-color: #fff;
  margin: 8px;
  flex: 1;
  padding: 20px;
}
.packed {
  font-weight: 700;

  color: rgb(3, 166, 133);
}

.ram {
  background-color: rgb(3, 166, 133);
  color: #fff;
  width: 20px;
  border-radius: 50%;
}
.box {
  background-color: rgb(3, 166, 133);
  /* height: 33px; */
  display: block;
  padding: 5px;
  border-radius: 50%;
  height: 30px;
  /* padding: 5px; */
  /* width: 33px; */
}

.fom {
  display: flex;
}
.job {
  margin-left: 10px;
}
.request {
  font-size: 12px;
  color: #727272;
}
.refund {
  font-size: 14px;
  line-height: 1.5;
  color: #03a685;
  font-weight: 700;
}
.view {
  font-size: 14px;
  font-weight: 700;
  color: #ff3f6c;
  cursor: pointer;
}
.boxs {
  background-color: rgb(156, 156, 156);
  display: block;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  font-size: 12px;
  text-align: center;
  padding: 3px;
}

.fromany {
  width: 700px;
}
.hima {
  padding: 0 10px;
}
.dot {
  height: 9px;
  display: flex;
  background-color: gray;
  width: 9px;
  border-radius: 50%;
}
.game {
  display: flex;
  margin: 3px 0;
  padding: 10px;
  align-items: center;
  background-color: #f2f4f4;
}
.closed {
  font-size: 14px;
  color: rgb(105, 110, 121);
  margin-left: 10px;
}
