.maincontainer {
  background-color: #fff;
  width: 620px;
  margin: auto;
}
.write {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.5px;
  text-align: center;
  color: #535766;
}
.fox {
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}
.cont {
  position: absolute;
  left: 25px;
  cursor: pointer;
  color: #535766;
  top: 15px;
}
.hehe {
  width: 75px;
  max-height: 100%;
}
.cold {
  font-size: 14px;
  line-height: 1.29;
  color: #535766;
}
.hero {
  margin-left: 45px;
  text-align: left;
}
.star {
  margin-right: 4px;
  margin-top: 5px;
  color: #ff3e6c;
}
.graystar {
  margin-right: 4px;
  color: gainsboro;
  margin-top: 5px;
}
.writer {
  overflow: auto;
  font-size: 10px;
  outline: none;
  width: 100%;
  padding: 10px;
  height: 227px;

  border: 2px solid gainsboro;
}
.please {
  padding: 20px;
}
.content {
  display: flex;
}

.byyy {
  color: #7e818c;
  margin: 14px;
  margin-top: 5pxs;
  text-align: left;
  font-size: 13px;
}
.terms {
  color: #ff3f6c;
  font-weight: 700;
}
.submit {
  border-radius: 2px;
  background-color: #ff3e6c;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  border: none;
  width: 137px;
  margin-bottom: 30px;
  padding: 13px;
}
.lastbtn {
  margin-top: 25px;
  text-align: center;
}
