.seconddiv {
  display: flex;
  height: 50vh;
  justify-content: space-between;
}
.smallimage {
  width: 35px;
  height: 38px;
  cursor: pointer;
  border: 1px solid white;
  padding: 1px;
  margin-left: 7px;
}
.cutbtn {
  width: 59px;
  height: 55px;
  font-size: 20px;
  border: 2px solid white;
  cursor: pointer;

  border-radius: 12px;
  margin: 15px;
  color: #626060;
}
.thirddiv {
  display: flex;
  justify-content: space-between;
}
.maindiv {
  background-size: cover;
  height: 100vh;
  min-width: 500px;
  cursor: -webkit-image-set(url(images/position-cursor.png) 2x), row-resize;
  max-width: 1000px;
  width: 50%;
  margin: auto;
  background-repeat: no-repeat;
}
.prebtn,
.nextbtn {
  font-size: 50px;
  cursor: pointer;
  border: 1px solid white;
  padding: 0 10px;
  border-radius: 11px;
}
.but {
  padding-top: 8px;
}
