.herodiv {
  border: 1px solid gainsboro;
  padding: 0 10px;
  box-shadow: 0 0 4px rgba(40, 44, 63, 0.08);
  width: 725px;
  margin: 0 auto;
  margin-top: 12px;
}

.maindiv {
  border-bottom: 1px solid gainsboro;
  background-color: white;
  margin-bottom: 10px;
  color: #282c3f;
}
.price {
  margin: 30px 0px 4px 0px;
  font-weight: 600;
  font-size: 16px;
}
.himanshu {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 29%;
  padding: 11px 12px;

  max-width: 100px;
  color: #14cda8;
  border-right: 1px solid #d4d5d9;
}
.discount {
  font-weight: 800;
  font-size: 18px;
}
.minimum {
  padding: 20px 0px 10px 10px;
  display: inline-block;
}
.on {
  margin: 10px 0px;
  font-size: 14px;
}
.of {
  color: #7e818c;
  font-size: 14px;
}
.code {
  font-size: 14px;
}
.copnt {
  padding: 15px 0px;
}
.date {
  font-weight: 800;
  color: #696e79;
  border-right: 1px solid #d4d5d9;
  padding-right: 5px;

  font-size: 15px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details {
  cursor: pointer;
  font-weight: 800;
  color: #526cd0;
}
.hide {
  margin-left: 17px;
  padding-bottom: 20px;
}
.hello {
  color: #282c3f;
  font-size: 14px;
}
