.maindiv {
  width: 300px;
  padding: 25px 20px 15px;
  background-color: #fff;
  color: #3e4152;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.welcome {
  font-weight: 700;
  color: #3e4152;
  font-size: 15px;
}
.text {
  font-size: 14px;
  color: #282c3f;
  margin-top: 5px;
}
.login {
  border: none;
  background-color: white;
  margin: 12px 5px 17px 0px;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #eaeaec;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #ff3f6c;
  font-weight: 700;
}
.login:hover {
  border: 1px solid #ff3f6c;
  cursor: pointer;
}
.content {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #eaeaec;
}

.code {
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  padding: 5px 0 5px !important;
}

.code:hover {
  font-weight: 700;
  font-size: 14px;
  color: #3e4152;
}
