.images {
  overflow: hidden;
  margin: 4px;
}
.ims {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  max-width: 50%;
  padding: 10px;
  height: 1000px;
}
.images img {
  transition: transform 0.4s;
  width: 100%;
  margin: 0 auto;
}
.images img:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.prent {
  display: flex;
}
.leftdiv {
  margin: 12px 15px;
}
.line {
  margin: 15px 0;
}
.ward {
  font-size: 20px;
  padding-top: 6px;
  color: gray;
}
.inc {
  color: green;

  padding-bottom: 25px;
}
.sel {
  font-weight: 700;
}
.wid {
  width: 50%;
}
.sold {
  display: flex;
  padding-bottom: 20px;
}
.new {
  color: #ff3e6c;
  font-weight: 700;
  margin-left: 22px;
}

.productVariantSize {
  display: flex;
  position: relative;
}

.wishlist-btn {
  margin-left: 10px;
}
.fonts {
  margin-top: 40px;
}
.word {
  margin-left: 9px;
}
.wide {
  width: 300px;
}
.delivery {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.car {
  margin-left: 9px;
}
.original {
  margin-top: 25px;
}
.original p {
  margin-top: 10px;
}
.best {
  margin-top: 30px;
}
.best ul li {
  margin: 10px 18px;
}
.views b {
  display: block;
  color: #ff3e6c;
  margin-top: 29px;
}
.rs {
  color: #ff905a;
  font-weight: 700;
}
.tag {
  margin-left: 9px;
}
.views p {
  margin-top: 20px;
  font-weight: 700;
}
.views ul li {
  margin: 10px 18px;
}
.views b:hover {
  cursor: pointer;
}
.lines {
  margin: 35px 0;
}
.product p {
  margin-top: 4px;
}
.mess {
  margin-left: 8px;
}
.imageviewer {
  position: absolute;
  width: 100%;
  background-color: black;
  z-index: 1;
}
.sels {
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}
.fab {
  position: relative;
  color: #7e818c;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 5px;
}
.cott {
  position: relative;
  color: #282c3f;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.heig {
  margin-top: 10px;
}
