.images {
  overflow: hidden;
  margin: 4px;
}
.ims {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  max-width: 50%;
  padding: 10px;
}
.images img {
  transition: transform 0.4s;
  width: 100%;
  margin: 0 auto;
}
.images img:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.prent {
  display: flex;
}
.leftdiv {
  margin: 12px 15px;
}
.line {
  margin: 15px 0;
}
.ward {
  font-size: 20px;
  padding-top: 6px;
  color: gray;
}
.inc {
  color: green;

  padding-bottom: 25px;
}
.sel {
  font-weight: 700;
}
.wid {
  width: 50%;
}
.sold {
  display: flex;
  padding-bottom: 20px;
}
.new {
  color: #ff3e6c;
  font-weight: 700;
  margin-left: 22px;
}

.productVariantSize {
  display: flex;
  position: relative;
}

.disableds button p {
  color: gray;
}
